<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bienvenido al juego de tiradas!!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center my-5">Bienvenido, inicia sesion o registrate</h1>

</div>
<div class="d-flex justify-content-center">
    <p> <a class= "btn btn-info  " href="http://localhost:9000/inicioSesion"> Login</a></p>
    <p> <a class= "btn btn-success" href="http://localhost:9000/registro"> Registro</a></p>
</div>
</body>
</html>