<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de jugadores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .table td, .table th {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center my-5">Listado de jugadores</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Porcentaje de éxito</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jugador : ${jugadores}">
            <td th:text="${jugador.nombre}"></td>
            <td th:text="${jugador.porcentajeExito}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
